.tooltip{ background-color:gainsboro;
    margin: 10px;
    height: 45px;
    width: 200px;
    padding-left: 10px;
    padding-top: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

svg{
margin:5px;
}
select
{
 float: right;
    margin: 10px;
}
#content{
    border:1px solid red;
    height:600px;
    width:100%;
}
#map{
    margin: 5px 5px ;
    float:left;
    width:48%;
    height: 98%;
    border:1px solid green;
}
.maptitle{
    margin: 0px 0px;
}
.legend {
    font-size: 12px;
}

#barChart{
    margin: 5px 5px;
    float:right;
    width:48%;
    height:98%;

    border:1px solid blue;
}
#barChartHC,#barChartID{
    margin: 5px 5px;
    display: block;
    vertical-align: middle;

    width:98%;
    height:48%;
    border:1px solid blue;
}


.q0-9 { fill:rgb(255,230,230); }
.q1-9 { fill:rgb(255,150,150); }
.q2-9 { fill:rgb(255,100,100); }
.q3-9 { fill:rgb(230,100,100); }
.q4-9 { fill:rgb(235,90,90); }
.q5-9 { fill:rgb(240,80,80); }
.q6-9 { fill:rgb(245,60,60); }
.q7-9 { fill:rgb(250,50,50); }
.q8-9 { fill:rgb(255,0,0); }
.white{fill:rgb(255,255,255);}
